{{!-- <li>
	{{name}}

	<button class=".eat" data-id="{{this.id}}" data-eaten="{{eaten}}">
		{{#if eaten}}Man I am hungry{{else}}Lets eat!{{/if}}
	</button>

	<button class="delete-burgers" data-id="{{id}}">DELETE!</button>
</li> --}}
